.search-Container{
    background-color: rgb(71, 71, 71);
    margin-bottom: 20px;
    height: 60px;
    text-align: center;
}
.seacrh-Box{
    width: 60%;
    height: 30px;
    margin-top: 12px;
    font-size: 18px;
    
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgrey;
    margin-right: 10px;
    margin-left: 10em;
}


